.nameele {
    font-family:roboto;
}
.hilatedname {
    color:#66e0ff;
    font-family: caveat;
    font-size: 45px;
    box-shadow: 10px 10px 20px rgba(13, 166, 226, 0.5);
    border-top-right-radius: 42px;
}
.hilatedname:hover{
  text-transform: capitalize;
  color: bisque;
}


.jjko{
    animation: wave 1s infinite;
    
}
@keyframes wave {
    0%, 100% {
      transform: rotate(20deg);
    }
    25% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(20deg);
    }
    75% {
      transform: rotate(0deg);
    }
  }
  .settin {
    display: flex;
flex-direction: row;
  }
  .coveredf {
    height:130vh;
    width: 100vw;
    background-size: cover;
    background-color: #1f1f38;
    
  }
  .hiremehed {
    color:#f0077b;
    font-weight: bold;
    font-size: 45px;
    font-family:caveat;
  }
  .fullnameHeddfor {
    font-size: 33px;
    font-family: caveat;
    margin-left:24px;
    color:white;
  }
  .paraOFHOme {
    font-size: 14px;
    font-family: caveat;
    margin:23px;
    color: antiquewhite;
  }
  .homeHiedd {
    font-size:48px;
    font-family: caveat;
    color:bisque;
    margin-left:50px;
    margin-top: 19px;
    
  }
  .homeIamDev {
    font-family:caveat;
    margin-left:38px;
    color:white;
  text-align: center;
  }
  .homeExpertise{
    color:#16b5ba;
    font-family: caveat;
    font-size:43px;
    margin-left:24px;
  }
  .emojiApplix {
    animation: shakin 1s  infinite;
    font-size: 5em;
}
@keyframes shakin {
    0%, 100% {
      transform: rotate(10deg);
    }
    25% {
      transform: rotate(10deg);
    }
    50% {
      transform: rotate(1deg);
    }
    75% {
      transform: rotate(10deg);
    }
  }
  .takingtheasdi {
    display: flex;
    flex-direction: row;
    background-image: url("c:\Users\nani2\Pictures\Screenshots\Saved Pictures\IMG_20211029_182459_085.jpg");
  }
  .homeDeveaddexta {
    text-align:center;
    font-family:roboto;
    color:white;
  }
  .personlWebsite{
    text-align: center;
    font-family: roboto;
    font-size: 44px;
    text-transform: capitalize;
    color: bisque;
  }
  
  .helloSSpan {
    color: #eb4034;
    font-size:52px
  }
.body{
   display:flex;
   align-items: center;
   justify-content: center;
   min-height:100vh;
   background: #343F4F;
}
.wraper {
    display:inline-flex;
}
.wraper .static-txt{
    color:#fff;
    font-size:50px;
    font-weight:400;
}
.wraper .dynamic-txts{
    margin-left:15px;
    height:90px;
    line-height:90px;
    overflow:hidden;
}

.dynamic-txts li{
  font-family: caveat;
    color:bisque;
    list-style:none;
    font-size:60px;
    font-weight:500;
    position:relative;
    top:0;
    animation:slide 6s steps(4) infinite;
    
}
@keyframes slide {
    100%{
        top:-360px;
    }
}
.dynamic-txts li span{
    position:relative;
}
.dynamic-txts li span::after {
    content:"";
    position:absolute;
    height:100%;
    left:0 ;
    width:100%;
    background: #1f1f38;
    border-left:2px solid bisque;
    animation:typing 1.5s steps(10) infinite;
   
}
@keyframes typing {
    100%{
        left:100%;
        margin:0 -35px 0 35px;
    }
}
.emojiinsertedHomd {
  font-size:4rem;
  border-top-right-radius: 52px;
  border-top-left-radius: 53px;
  
  
}
.emojiinsertedHomd:hover {
  
  box-shadow: 10px 10px 20px rgba(5, 200, 239, 0.5);
}

.aligningTheHomeRe {

  display: flex;
  flex-direction: row;

}
.resumedownloadbutt1 {
  height: 70px;
  width: 120px;
  border-radius: 40px;
  border-width: 0px;
  color: black;
  margin-left: 512px;
  background-color: #eb348c;
}
.resumedownloadbutt1:hover {
  height: 70px;
  width: 120px;
  border-radius: 40px;
  border-width: 0px;
  color:bisque;
  background-color:#1f1f38;
  font-weight: bold;
  font-family: caveat;
  border-style: solid;
  border-width: 1px;
  border-color: aqua;
}


